# Virtual Environment
venv/
venu/
env/
.venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
.flaskenv
instance/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# User uploaded content
uploads/